Repository material-extensions/vscode-material-icon-theme, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏞️ icons, 💱 translations, 📝 docs, 🔄 workflows, 🐋 devcontainers

fix: fix labeler triggers
  .github/workflows/label.yml
Labels: 🔄 workflows

chore(workflows): ✨ update merge success message formatting
  .github/workflows/pr-closed.yml
Labels: 🔄 workflows

chore(devcontainer): ⏫ update preinstalled extensions list
  .devcontainer/devcontainer.json
Labels: 🐋 devcontainers

chore: 🔒 make `bun.lock` readonly
  .vscode/settings.json
Labels: none

ci: use pull_request_target
  .github/workflows/icon-review.yml
  .github/workflows/pr-closed.yml
Labels: 🔄 workflows

fix(ci): fix labeler triggers
  .github/workflows/label.yml
  .github/workflows/pr-closed.yml
Labels: 🔄 workflows

feat: add wrangler icon
  icons/wrangler.svg
  src/core/icons/fileIcons.ts
Labels: 🏞️ icons

chore: 🔒 make `bun.lock` readonly (#2801)
  .vscode/settings.json
Labels: none

docs: 📝 use only one recommended icon source
  CONTRIBUTING.md
  README.md
Labels: 📝 docs

refactor(ci): ♻️ use the DRY principle in order not to repeat the name of the extension file
  .github/workflows/release.yml
Labels: 🔄 workflows

chore(devcontainer): ⏫ update preinstalled extensions list (#2800)
  .devcontainer/devcontainer.json
Labels: 🐋 devcontainers

feat: add wrangler icon (#2802)
  icons/wrangler.svg
  src/core/icons/fileIcons.ts
Labels: 🏞️ icons

Update icon color
  icons/beancount.svg
Labels: 🏞️ icons

feat(ci): 🔖 add appropriate labels to PRs with failed checks (#2793)
  .github/scripts/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/pr-title.yml
Labels: 🔄 workflows

feat: add beancount icon (#2784)
  icons/beancount.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: 🏞️ icons

.github/labeler.yml:

🏞️ icons:
- changed-files:
  - any-glob-to-any-file: ['icons/*', 'src/core/icons/*.ts']

💱 translations:
- changed-files:
  - any-glob-to-any-file: ['package.nls*.json', 'src/core/i18n']

📝 docs:
- changed-files:
  - any-glob-to-any-file: '*.md'

🔄 workflows:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/*', '.github/labeler.yml']

🐋 devcontainers:
- changed-files:
  - any-glob-to-any-file: '.devcontainer/*'
