Repository material-extensions/vscode-material-icon-theme, pull requests merged in 2024-10, with the labels that each got.

#1472 Add systemd icon
  icons/systemd.svg
  icons/systemd_light.svg
  src/core/icons/languageIcons.ts
Labels: icons

#2622 Add icon association for gltf and glb files
  src/core/icons/fileIcons.ts
Labels: icons

#2621 Add stackblitz file icon
  icons/stackblitz.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2624 Added env abbreviations on tune icon recognized names
  src/core/icons/fileIcons.ts
Labels: icons

#2628 Add .tazerc and .tazerc.json filenames for taze icon
  src/core/icons/fileIcons.ts
Labels: icons

#2632 Add GitHub Copilot icon
  icons/copilot.svg
  icons/copilot_light.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2607 Add `label` icon for `.github/labeler.yml` file
  icons/label.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2633 ci: update pixp url in icon-review.yml
  .github/workflows/icon-review.yml
Labels: workflows

#2176 feat: add garden file icon
  icons/garden.svg
  src/core/icons/fileIcons.ts
Labels: icons

#876 feat: use Perl's own logo instead copying Tor's
  icons/perl.svg
Labels: icons

#1320 feat: icon for all the cloud channels
  src/core/icons/folderIcons.ts
Labels: icons

#2206 feat: add benchmark icon for
  icons/bench-js.svg
  icons/bench-jsx.svg
  icons/bench-ts.svg
  src/core/icons/fileIcons.ts
Labels: icons

#1643 feat: add `pre-commit` configuration icon
  icons/pre-commit.svg
  src/core/icons/fileIcons.ts
Labels: icons

#1634 feat: add `controller` icon
  icons/controller.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2232 feat: add `.swcrc` icon for SWC and rename `swc` to `adobe-swc`
  icons/adobe-swc.svg
  icons/swc.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2638 fix: 🚑 fix `swc` icon colors
  icons/swc.svg
Labels: icons

#2641 docs: :fire: Remove Phorm.ai badge
  CONTRIBUTING.md
Labels: docs

#2640 feat: add Copilot instructions
  .github/copilot-instructions.md
  .vscode/settings.json
Labels: enhancement, docs

#2570 feat: trigger
  icons/trigger.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2644 feat(workflows): use Bun version from `.bun-version` file
  .bun-version
  .github/workflows/build.yml
  .github/workflows/icon-review.yml
  .github/workflows/release.yml
Labels: enhancement, dependencies, workflows

#2649 feat: :sparkles: add icon for `.bun-version` file
  src/core/icons/fileIcons.ts
Labels: icons

#1975 fix: materialized `swc` icon
  icons/swc.svg
Labels: icons

#2651 fix(workflows): :bug: try to fix failing `icon-review` workflow
  .github/workflows/icon-review.yml
Labels: workflows
