Repository material-extensions/vscode-material-icon-theme, pull requests merged in 2024-08, with the labels that each got.

#2500 Add 'distribution' to folder-dist
  src/core/icons/folderIcons.ts
Labels: icons

#2505 Fix URL in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

#2507 docs: 📝 fix broken links in README and CONTRIBUTING guides
  CONTRIBUTING.md
  README.md
Labels: docs

#2508 Add Phorm AI badge
  CONTRIBUTING.md
Labels: docs

#2501 Added folder-icon about development.
  src/core/icons/folderIcons.ts
Labels: icons

#2449 Made pixel-perfect (almost) icons
  icons/image.svg
  icons/readme.svg
Labels: icons

#2511 Added folder-icon for flutter
  icons/folder-flutter-open.svg
  icons/folder-flutter.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2519 feat: ✨ rocket/release icon
  icons/rocket.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2518 Add store folder icon
  icons/folder-store-open.svg
  icons/folder-store.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2510 Added folder-icon for snippet, snippets
  icons/folder-snippet-open.svg
  icons/folder-snippet.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2520 Add cds icon
  icons/cds.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: icons

#2522 Add VHDL file icon association
  src/core/icons/fileIcons.ts
Labels: icons

#2528 Include 'devtools' in the folder-icon for 'tools'
  src/core/icons/folderIcons.ts
Labels: icons

#2552 feat: ✨ gitea folder icon
  icons/folder-gitea-open.svg
  icons/folder-gitea.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2548 Added `gemini-ai` icon
  icons/gemini-ai.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2549 Added coderabbit icon
  icons/coderabbit-ai.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2553 Update marketplace message capitalization
  .github/workflows/pr-closed.yml
Labels: workflows

#2556 Add icon association for UNLICENSE files
  src/core/icons/fileIcons.ts
Labels: icons

#2212 duc Binary file format
  icons/duc.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2559 feat: ✨ github actions workflow file icon
  icons/github-actions-workflow.svg
  src/core/icons/languageIcons.ts
Labels: icons

#2565 feat: ✨ .markdownlintignore file icon
  src/core/icons/fileIcons.ts
Labels: icons
