Repository material-extensions/vscode-material-icon-theme, pull requests merged in 2024-07, with the labels that each got.

#2498 Add conditionally active custom clones
  package.json
  package.nls.json
  src/core/generator/clones/clonesGenerator.ts
  src/core/models/icons/config.ts
  src/core/tests/icons/cloning.test.ts
Labels: translations

#2499 Improve icon review workflow
  .github/workflows/icon-review.yml
Labels: workflows

#2493 Added `jsr` icon
  icons/jsr.svg
  icons/jsr_light.svg
  src/core/icons/fileIcons.ts
Labels: icons
