Repository material-extensions/vscode-material-icon-theme, pull requests merged in 2024-12, with the labels that each got.

#2732 feat: 🏞️ add `subtitles` icon
  icons/subtitles.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2709 feat: ✨ add markdownlint automatization
  .markdownlint.json
  .markdownlintignore
  LICENSE
  README.md
  bun.lockb
  package.json
  src/module/README.md
Labels: docs

#2727 ci: ♻️ use limited file scope for triggering build workflow
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
Labels: workflows

#2708 feat: pm2 ecosystem file icon
  icons/pm2-ecosystem.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2369 feat: add 'cypher' and 'cipher' folder names to the folder-secure icon
  src/core/icons/folderIcons.ts
Labels: icons

#2739 feat: add `.do` file association for `tcl` icon
  src/core/icons/fileIcons.ts
Labels: icons

#2740 feat: enhance textlint configuration files
  src/core/icons/fileIcons.ts
Labels: icons

#2720 feat: :technologist: add husky pre-commit hooks
  .husky/pre-commit
  .lintstagedrc
  bun.lockb
  package.json
  src/scripts/svg/checkSvgColors.ts
Labels: enhancement, workflows, icons

#2743 feat: use plugins icon for addins directory
  src/core/icons/folderIcons.ts
Labels: icons

#2744 feat: ✨ keystatic + mdoc file icons
  icons/keystatic.svg
  icons/markdoc-config.svg
  icons/markdoc.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: icons

#2745 feat: add lyric icon
  icons/lyric.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2749 feat: ✨ use docker icon for `dockerfile.windows` file
  src/core/icons/fileIcons.ts
Labels: icons

#2757 feat(icons): add folder icons for liquibase
  icons/folder-liquibase-open.svg
  icons/folder-liquibase.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2606 feat: add icons for Obsidian folders
  icons/folder-obsidian-open.svg
  icons/folder-obsidian.svg
  icons/folder-trash-open.svg
  icons/folder-trash.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2748 feat: ✨ add icon for `.tool-versions` file
  src/core/icons/fileIcons.ts
Labels: icons

#2763 feat: add icon for `compile_flags.txt` file
  src/core/icons/fileIcons.ts
Labels: icons

#2703 feat: add icons for Forgejo folders
  icons/folder-forgejo-open.svg
  icons/folder-forgejo.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2723 feat: ✨ add new icons for xmake
  icons/xmake.svg
  src/core/icons/fileIcons.ts
Labels: icons
