Repository material-extensions/vscode-material-icon-theme, pull requests merged in 2024-11, with the labels that each got.

#2652 feat: :sparkles: replace dependabot with renovate
  .github/dependabot.yml
  renovate.json
Labels: enhancement, dependencies

#1505 feat: add `dependencies-update` icon
  icons/dependencies-update.svg
  src/core/icons/fileIcons.ts
Labels: icons

#1560 feat: Add Luau and Roblox ecosystem icons
  icons/folder-luau-open.svg
  icons/folder-luau.svg
  icons/luau.svg
  icons/rbxmk.svg
  icons/rojo.svg
  icons/wally.svg
  package.json
  package.nls.cs.json
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.id.json
  package.nls.ja.json
  package.nls.json
  package.nls.ko.json
  package.nls.nl.json
  package.nls.pl.json
  package.nls.pt-BR.json
  package.nls.pt-PT.json
  package.nls.ru.json
  package.nls.zh-CN.json
  package.nls.zh-TW.json
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
  src/core/icons/languageIcons.ts
  src/core/models/icons/iconPack.ts
Labels: icons, translations

#2666 chore(icons)!: update `kotlin` icon to latest version
  icons/kotlin.svg
Labels: icons

#1626 feat: add `histoire config` icon
  icons/histoire-config.svg
  src/core/icons/fileIcons.ts
Labels: icons

#1760 feat: add `installation` icon
  icons/installation.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2673 feat: 🏞️ add additional file extensions for raw images and xml
  src/core/icons/fileIcons.ts
Labels: icons

#2675 feat: :sparkles: add new folder icons associations
  src/core/icons/folderIcons.ts
Labels: icons

#2679 ci: Add workflow to check PR title following conventional commit
  .github/pull_request_template.md
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
  commitlint.config.js
Labels: workflows, docs

#2678 feat: add `simulink` icon
  icons/simulink.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2674 Make histoire file icon pixel perfect and rename icon
  icons/histoire-config.svg
  icons/histoire.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2681 perf(workflows): ⚡optimize checkout steps
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/release.yml
Labels: workflows

#2680 fix(workflows): :ambulance: fix failing `lint-pr-title` workflow
  .github/workflows/pr-title.yml
Labels: workflows

#2672 perf(workflows): ⚡ optimize icon review workflow
  .github/workflows/icon-review.yml
  .github/workflows/label.yml
Labels: workflows

#2646 feat(workflows): :sparkles: Improved generation of release notes
  .github/workflows/release.yml
  CHANGELOG.md
  bun.lockb
  changelog.config.json
  changelog.config.ts
  package.json
  patches/changelogen@0.5.7.patch
  src/scripts/generateChangelog.ts
Labels: enhancement, workflows, icons, docs

#2526 feat: add folder icons for `element` and `elements` folders
  icons/folder-element-open.svg
  icons/folder-element.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2693 fix: Garden file extensions
  src/core/icons/fileIcons.ts
Labels: icons

#2694 feat: add extensions for 7-zip archive formats
  src/core/icons/fileIcons.ts
Labels: icons

#2695 feat: add additional filename for sonarcloud
  src/core/icons/fileIcons.ts
Labels: icons

#2655 feat: Add C3 image
  icons/c3.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: icons

#2051 feat: Added minecraft fabric icon
  icons/minecraft-fabric.svg
  src/core/icons/fileIcons.ts
Labels: icons

#1522 feat: add icon for Palette files
  icons/palette.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2696 feat: add tsconfig.{client,declaration}.json icon associations
  src/core/icons/fileIcons.ts
Labels: icons

#2524 feat: improve `README.md` structure
  README.md
Labels: docs

#2699 feat: show Haskell icon for `.lhs` files
  src/core/icons/fileIcons.ts
Labels: icons

#2698 docs: Update contributing file
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
Labels: docs

#1535 feat: add toml icon
  icons/toml.svg
  icons/toml_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: workflows, icons, docs

#2690 feat: add new icons for directive folder
  icons/folder-directive-open.svg
  icons/folder-directive.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2706 feat: add .hgtags icon
  src/core/icons/fileIcons.ts
Labels: icons

#2711 feat: add `.dev.vars` association to `env` file icon
  src/core/icons/fileIcons.ts
Labels: icons

#1015 feat: add `hosts` file icons
  icons/hosts.svg
  icons/hosts_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: icons

#2713 feat: update `installation` file icon associations
  src/core/icons/fileIcons.ts
Labels: icons

#2338 feat: Add `CITATION.cff` icon and update fileIcons
  icons/citation.svg
  src/core/icons/fileIcons.ts
Labels: icons
