Repository material-extensions/vscode-material-icon-theme, pull requests merged in 2025-01, with the labels that each got.

#2766 feat: ✨ icon for `ruff` config file
  icons/ruff.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2771 chore(workflows): :construction_worker: Add workflow to close inactive issues
  .github/workflows/close-stale-issues.yml
Labels: workflows

#2772 feat: add missing stryker filenames
  src/core/icons/fileIcons.ts
Labels: icons

#2264 feat: ✨ add icon for for `phpstan`
  icons/phpstan.svg
  src/core/icons/fileIcons.ts
Labels: icons

#2774 feat: add pipeline folder name
  src/core/icons/folderIcons.ts
Labels: icons

#2777 refactor: Make use of clones for redux folder icons
  icons/folder-redux-actions-open.svg
  icons/folder-redux-actions.svg
  icons/folder-redux-selector-open.svg
  icons/folder-redux-selector.svg
  icons/folder-redux-store-open.svg
  icons/folder-redux-store.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2778 refactor: Make use of clones for ngrx folder icons
  icons/folder-ngrx-actions-open.svg
  icons/folder-ngrx-actions.svg
  icons/folder-ngrx-effects-open.svg
  icons/folder-ngrx-effects.svg
  icons/folder-ngrx-entities-open.svg
  icons/folder-ngrx-entities.svg
  icons/folder-ngrx-reducer-open.svg
  icons/folder-ngrx-reducer.svg
  icons/folder-ngrx-selectors-open.svg
  icons/folder-ngrx-selectors.svg
  icons/folder-ngrx-state-open.svg
  icons/folder-ngrx-state.svg
  src/core/icons/folderIcons.ts
Labels: icons

#2785 feat(ci): 🔖 add appropriate labels to PRs with failed checks
  .github/actions/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Labels: 🔄 workflows, workflows

#2788 fix: run labeler script in build workflow only in PR
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Labels: 🔄 workflows

#2780 feat: implement cloning functionality for language icons
  README.md
  images/how-tos/cloned-language-icons-example.png
  package.json
  package.nls.json
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/clones/utils/cloneData.ts
  src/core/generator/clones/utils/cloning.ts
  src/core/generator/config/defaultConfig.ts
  src/core/generator/fileGenerator.ts
  src/core/generator/languageGenerator.ts
  src/core/icons/languageIcons.ts
  src/core/index.ts
  src/core/models/icons/config.ts
  src/core/models/icons/files/fileIcon.ts
  src/core/models/icons/folders/folderIcon.ts
  src/core/models/icons/languages/languageIdentifier.ts
  src/core/models/icons/lightSettings.ts
  src/core/tests/icons/cloning.test.ts
  src/core/tests/icons/fileIcons.test.ts
  src/core/tests/icons/languageIcons.test.ts
  src/scripts/icons/checks/checkIconAvailability.ts
  src/scripts/icons/checks/checkIconConflicts.ts
  src/scripts/icons/checks/checkIconUsage.ts
  src/scripts/icons/checks/run.ts
  src/scripts/icons/generateClones.ts
  src/scripts/preview/run.ts
Labels: 🏞️ icons, 💱 translations, 📝 docs

#2781 feat: add icon for Autohotkey v2
  src/core/icons/languageIcons.ts
Labels: 🏞️ icons

#2800 chore(devcontainer): ⏫ update preinstalled extensions list
  .devcontainer/devcontainer.json
Labels: 🐋 devcontainers

#2802 feat: add wrangler icon
  icons/wrangler.svg
  src/core/icons/fileIcons.ts
Labels: 🏞️ icons

#2793 feat(ci): 🔖 add appropriate labels to PRs with failed checks
  .github/scripts/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/pr-title.yml
Labels: 🔄 workflows, 🏞️ icons

#2784 feat: add beancount icon
  icons/beancount.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: 🔄 workflows, 🏞️ icons

#2799 refactor(ci): ♻️ organize the structure of workflows
  .github/FUNDING.yml
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/label.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
Labels: 🔄 workflows

#2806 feat: add BLoC folder icon
  icons/folder-bloc-open.svg
  icons/folder-bloc.svg
  src/core/icons/folderIcons.ts
Labels: 🏞️ icons

#2803 docs: 📝 use only one recommended icon source
  CONTRIBUTING.md
  README.md
Labels: 📝 docs

#2812 refactor(ci): ♻️ use `HUSKY: 0` in env according to the DRY
  .github/workflows/release.yml
Labels: 🔄 workflows

#2815 feat: make `github-sponsors` icon more materialized
  icons/github-sponsors.svg
Labels: 🏞️ icons

#2811 refactor(ci): ♻️ use reusable workflows
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Labels: 🔄 workflows

#2819 chore: add security policy
  SECURITY.md
Labels: 📝 docs

#2810 refactor(ci): use `material-extensions/add-labels` action
  .github/scripts/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
Labels: 🔄 workflows

#2821 fix: fix pr-closed.yml
  .github/workflows/pr-closed.yml
Labels: 🔄 workflows

#2813 feat: add repository folder icons
  icons/folder-repository-open.svg
  icons/folder-repository.svg
  src/core/icons/folderIcons.ts
Labels: 🏞️ icons

#2805 feat: add Rust folder icons and update icon mapping
  icons/folder-rust-open.svg
  icons/folder-rust.svg
  src/core/icons/folderIcons.ts
Labels: 🏞️ icons

#2407 feat: contentlayer
  icons/contentlayer.svg
  src/core/icons/fileIcons.ts
Labels: 🔄 workflows, 🏞️ icons

#2807 feat: ✨ Customize workspace folder icons
  .lintstagedrc
  CONTRIBUTING.md
  README.md
  package.json
  package.nls.json
  src/core/generator/applyConfigToIcons.ts
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/clones/utils/cloneData.ts
  src/core/generator/clones/utils/cloning.ts
  src/core/generator/clones/utils/color/colors.ts
  src/core/generator/config/defaultConfig.ts
  src/core/generator/folderGenerator.ts
  src/core/generator/iconOpacity.ts
  src/core/helpers/configHash.ts
  src/core/helpers/resolvePath.ts
  src/core/icons/folderIcons.ts
  src/core/index.ts
  src/core/models/icons/config.ts
  src/core/models/icons/folders/folderIcon.ts
  src/core/models/manifest.ts
  src/core/tests/helpers/object.test.ts
  src/core/tests/icons/cloning.test.ts
  src/core/tests/icons/folderIcons.test.ts
  src/extension/commands/folderColor.ts
  src/extension/commands/rootFolderColor.ts
  src/extension/tools/registered.ts
  src/scripts/icons/checks/checkIconConflicts.ts
  src/scripts/icons/generateJson.ts
Labels: ✨ enhancement, 🏞️ icons, 💱 translations, 📝 docs

#2825 feat: add `websites` folder icon
  src/core/icons/folderIcons.ts
Labels: 🏞️ icons

#2838 feat: add epub icon
  icons/epub.svg
  src/core/icons/fileIcons.ts
Labels: 🏞️ icons

#2826 feat: add scons icon
  icons/folder-scons-open.svg
  icons/folder-scons.svg
  icons/scons.svg
  icons/scons_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Labels: 🏞️ icons

#2841 feat: add Typst manifest file
  src/core/icons/fileIcons.ts
Labels: 🏞️ icons

#2827 feat: update unity icon
  icons/folder-unity-open.svg
  icons/folder-unity.svg
  icons/shaderlab.svg
  icons/unity.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: 🏞️ icons

#2831 feat: add `kits` folder name for `tools` folder icon
  src/core/icons/folderIcons.ts
Labels: 🏞️ icons

#2845 feat: ✨ regedit file icon
  icons/regedit.svg
  src/core/icons/fileIcons.ts
Labels: 🏞️ icons

#2839 feat: expand the list of file extensions for the `audio` icon
  src/core/icons/fileIcons.ts
Labels: 🏞️ icons

#2834 feat: expand the list of file extensions for the `email` icon
  src/core/icons/fileIcons.ts
Labels: 🏞️ icons

#2859 feat: add gnuplot icon
  icons/gnuplot.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Labels: 🏞️ icons
